* {
  margin: 0px;
}
@media screen and (max-width: 440px){
  .landing-page {
    height: 100vh;
  }
  body {
    width: 100%;
    background-color: #21446a;
  }

  h1, h2, h3, li {
    color: #fff;
  }
  
  #nav-container {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
  }
  
  a, ul {
    text-decoration: none;
    list-style-type: none;
  }
  
  .main-content-container {
    display: flex;
    height: 93vh;
    align-items: center;
    justify-content: center;
  }

  .intro-container {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 10px;
  }

  .main-content-container h1 {
    font-size: 40px;
    margin: 10px;
  }

  .main-content-container h2 {
    font-size: 18px;
    max-width: 280px;
    margin: 10px;
  }

  .main-content-container h3 {
    font-size: 18px;
    max-width: 280px;
    margin: 10px;
  }

  #contactBtn {
    max-width: 100px;
    max-height: 50px;
    padding: 10px;
    margin: 10px;
  }

  .bodyOnePage {
    height: 100vh;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }

  .about-container h3 {
    width: auto;
    padding: 95px 0px 0px 0px;
    margin: 0px 0px 0px 30px;
    position: relative;
  }

  .about-info-container {
    display: flex;
    flex-direction: row;
  }

  .about-info-container hr {
    color: #fff;  
    width: 30px;
    height: 1px;
    margin: 0px 0px 0px 30px;
  }

  .about-info-container p {
    color: #fff;
    max-width: 300px;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
  }

  .skills-backdrop {
    position: relative;
    width: auto;
    height: auto;
    color: #aa9090;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }

  .skills-backdrop h3 {
    position: absolute;
    top: 0%; /* Position the text halfway down the box */
    left: 150px;
    transform: translateY(-50%); /* Center the text vertically */
  }

  .skill-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }

  .skill-item {
    width: auto;
    height: 100px;
    margin: 10px;
    background-color: beige;
  }

}